body{
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.flex-item {
  height: 30rem;
  width: 25rem;
  background-color: black;
}



/*
body{
  font: 16px "Times New Roman",Times,serif;
}
div{
  margin-bottom: 1em;
}
fieldset{
  padding: 1em; background: #f8f8f8; margin: 10px 0px;
  border: 1px solid #ccc;
}
label{
  cursor: pointer;
}
textarea{
  width: 500px; height:100px; resize: none;
}
*/